#app {
    display: flex;
    flex-direction: column;
}

#puzzle-space {
    display: grid;
    grid-template-columns: repeat(9, 11.1fr);
    grid-template-rows: repeat(9, 11.1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    max-height: 60vh;
    min-height: 60vh;
    max-width: 60%;;
    background-color: black;
}

.tile {
    background-color: cyan;
    border: 5px;
    border-color: black;
    text-align: center;
}

.tile-input {
    background-color: lightblue;
}

.tile-invalid {
    background-color: lightpink;
}

#dev-space {
    height: 20%;
}

#dev-space hr {
    height: 5px;
    color: red;
    background-color: red;
}
