
html {font-size: calc(0.7em + 0.7vw)}
button {font-size: inherit}

body {
    border: 0.3em ridge silver;
    font-size: 0.8em;
    height: 96.5vh;
    width: 98.5%;
}

#puzzle-space {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    max-height: 92vh;
    min-height: 92vh;
    min-width: 50%;
    max-width: 50%;
    background-color: rgb(121, 87, 87);
    padding: 0.25em;
    border: 0.35em ridge rgb(80, 53, 53);
    border-radius: 3px;
    margin-left: 0.5em;
    margin-top: 0.15em;
}

#puzzle-space div {
    border: 0.07em solid black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 1.6em;
}

#puzzle-space div:nth-child(3n+3):not(:nth-child(9n+9)) {
    border-right: 3px solid rgb(204, 50, 50);
}

#puzzle-space div:nth-child(3n+3):not(:nth-child(9n+9)) + div {
    border-left: 3px solid rgb(204, 50, 50);
}

#puzzle-space div:nth-child(1n+19):nth-child(-1n+27) {
    border-bottom: 3px solid rgb(204, 50, 50);
}

#puzzle-space div:nth-child(1n+28):nth-child(-1n+36) {
    border-top: 3px solid rgb(204, 50, 50);
}

#puzzle-space div:nth-child(1n+46):nth-child(-1n+54) {
    border-bottom: 3px solid rgb(204, 50, 50);
}

#puzzle-space div:nth-child(1n+55):nth-child(-1n+63) {
    border-top: 3px solid rgb(204, 50, 50);
}

.tile {
    background-image: linear-gradient(to left, antiquewhite, whitesmoke);
    background-color: white;
    border: 0.02em;
    margin: 0.02em;
    padding-top: 3.1vh;
    padding-bottom: 1.58vh;
    border-color: black;
    text-align: center;
}

.tile {
    cursor: crosshair;
}

.tile-input {
    background-image: linear-gradient(to bottom left, rgb(178, 211, 178), rgb(69, 94, 69));
}

.tile-input:hover {
    cursor: crosshair;
}

.tile-invalid {
    background-image: linear-gradient(to bottom left, rgb(173, 132, 132), rgb(158, 79, 79));
}

.tile-invalid {
    cursor: crosshair;
}

.puzzles-tr{
    background-color: rgb(49, 49, 49);
    border: ridge silver 2px;
    color: white;
    display: block;
    padding: 0.6em;
    border-radius: 8px;
}

.puzzles-tr td {
    background-color: rgb(245, 233, 218);
    color: black;
    display: block;
    border: 0.07em ridge black;
    padding: 0.2em;
}

.puzzle-table-active td {
    display: none;
}

.help {
    border: 0.5em ridge rgb(80, 53, 53);
    background-image: linear-gradient(to left, antiquewhite, whitesmoke);
    font-family:'Courier New', Courier, monospace;
    font-size: 0.8rem;
    color: black;
    min-height: 60%;
    max-height: 60%;
    min-width: 50%;
    max-width: 50%;
    position: absolute;
    top: 8%;
    left: 20%;
    padding: 2rem;
    padding-bottom: 4rem;
}

/* main content space */
#mid-space {
    background-image: url('japan.jpeg');
    background-position-y: 42.6%;
    background-position-x: 75%;
    background-size: 68%;
    display: flex;
    flex: none;
    flex-direction: row;
    height: inherit;
}

/* puzzle dropdown */
#puzzles-context {
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
    font-size: 1.1em;
    vertical-align: top;
    overflow: auto;
    height: 94vh;
    padding-left: 0.5em;
    padding: 0.2em;
    width: 14%;
}

#puzzles-context:hover {
    cursor: pointer;
}

/* user space - table and table cells */
#table-space {
    border-collapse: collapse !important;
    margin-left: 1em;
    margin-right: 0.5em;
    text-align: center;
    padding: 0 !important;
    width: 33vw;
    height: 98%;
}

#context-header {
    vertical-align: top;
    padding-top: 0.15em;
    width: 100%;
    height: 10vh;
    justify-content: space-between;
    align-items: space-between;
}

#td-user-input {
    height: 15vh;
    width: 100%;
    vertical-align: center;
    margin-bottom: 1em;
    text-align: center;
}

#edit-icon {
    background-color: rgb(49, 49, 49);
    border: 3px ridge silver;
    border-radius: 10px;
    padding: 0.5em;
    width: 3em;
    margin-bottom: 0.2em;
}

/* textarea user input*/
#puzzle-IO {
    background-color: whitesmoke;
    border: 3px ridge silver;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9em !important;
    font-weight: 600;
    overflow: auto;
    font-size: 1em;
    resize: none;
    width: 60%;
    height: 12vh;
}

#puzzle-IO:hover {
    cursor: crosshair;
}

/* puzzle IO tooltip */
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 7px 0;
    border-radius: 6px;
    position: absolute;
    top: -5px;
    right: 105%;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

#puzzle-IO:hover {
    cursor: pointer;
}

#td-devspace {
    background-color: black;
    border: 2px ridge silver;
    border-radius: 5px;
    height: 72%;
    width: 32vw;
}

/* pseudo terminal */
#dev-space {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-size: 0.9em;
    background-color: black;
    color: white;
}

#compile-results {
    margin-left: 3vw;
    margin-bottom: 0.5vh;
}

#dev-space:hover {
    cursor: default;
}

dev-space hr {
    color: red;
    background-color: red;
}

#compile-button {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(49, 49, 49);
    border-radius: 5px;
    color: white;
    font-size: 0.9em;
    width: 22%;
    padding-bottom: 0.4em;
    padding-top: 0.4em;
    margin-top: 0.6em;
    margin-bottom: 0.5em;
}

#compile-button:hover {
    cursor: pointer;
}

#puzzles-button {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(49, 49, 49);
    border-radius: 5px;
    color: white;
    font-size: 0.9em;
    width: 25%;
    padding-bottom: 0.4em;
    padding-top: 0.4em;
    margin-top: 0.6em;
    margin-bottom: 0.5em;
}

#puzzles-button:hover {
    cursor: pointer;
}

#solve-puzzle {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(49, 49, 49);
    border-radius: 5px;
    color: white;
    font-size: 0.9em;
    width: 25%;
    padding-bottom: 0.4em;
    padding-top: 0.4em;
    margin-top: 0.6em;
    margin-bottom: 0.5em;
}

#solve-puzzle:hover {
    cursor: pointer;
}

/* buttons controls*/
#help-button {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(49, 49, 49);
    border-radius: 5px;
    color: white;
    font-size: 0.9em;
    width: 22%;
    padding-bottom: 0.4em;
    padding-top: 0.4em;
    margin-top: 0.6em;
    margin-bottom: 0.5em;
}

#help-button:hover {
    cursor: pointer;
}

#title-button {
    font-family:'Courier New', Courier, monospace;
    font-size: 2.9em;
    background-color: black;
    border: 2px ridge silver;
    border-radius: 8px;
    color: white;
    padding-top: 0.3em;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 0.4em;
    width: 100%;
}

#title-button:hover {
    cursor: pointer;
}

#help:hover {
    cursor: help;
}

#arrow-glyphs {
    font-size: 1.9em;
}

#sudokuLogo {
    width: 95%;
    height: 85%;
}
